@font-face {
    font-family: "Helvetica";
    src: url(./fonts/texgyreheros-bold.otf),
         url(./fonts/texgyreheros-bolditalic.otf),
         url(./fonts/texgyreheros-italic.otf),
         url(./fonts/texgyreheros-regular.otf),
         url(./fonts/texgyreheroscn-bold.otf),
         url(./fonts/texgyreheroscn-bolditalic.otf),
         url(./fonts/texgyreheroscn-italic.otf),
         url(./fonts/texgyreheroscn-regular.otf)
        }
.html{
    font-family: "Helvetica";
}
.ant-btn-ghost{
    color: white;
}
.ant-avatar{
    margin-right: 5px;
}
.authorization-field{
    float: right;
}
.App-header{
   clear: both;
   text-align:  center;

}
.App-title, .App-footer{
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.App-feed{
    background-color: #0000000a;
    min-height: 100vh;
    padding-left: 40px;
    padding-right: 40px;
}
.App-footer{
    background-color: black;
    position: fixed;
    font-size: 15px;
    width: 100%;
    bottom: 0;
    height: 50px;
}

.tweet-item{
    background-color: aliceblue;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    box-shadow:  0 1px 2px rgba(0,0,0,0.24);
}
.author{
    font-weight: bold;
    font-size: 17px;
    display: block;
}

.anticon{
    font-size: 20px;
}
.tweet-text{
    margin-bottom: 10px;
    font-family: "Helvetica";
}
.anticon-like{
    margin-right: 10px;
}
.anticon-twitter{
    font-size: 30px;
}
.tweet-date{
    opacity: 0.5;
    font-size: 13px;
}
.App-footer{
    color: white;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    padding-top: 10px; 
}
.auth-form{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9000;
    width: 100%;
    height: 100%;
    background-color: gray;
    opacity: 0.3;      
}
.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8000;
    width: 100%;
    height: 100%;
    background-color: gainsboro;
    background: rgba(0, 0, 0, 0.6);
  }
  
  .modal-main {
    position:fixed;
    background: white;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    clear: both;    
    display: flex;
  }
  .modal-main > div{
      flex: 1;
  }
  .display-block {
    display: block;
  }
  
  .display-none {
    display: none;
  }
  .hide-modal-button{
      float: right;
      color: black;
      font-size: 25px;
  }
  .hide-modal-button:hover{
      opacity: 0.5;
  }
  .log-in-col, .register-col{
      color: black;
      padding: 20px;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }
  .log-in-col span, .register-col span{
      font-size: 25px;
      top: 0;

  }
  .register-col form button.ant-btn span, .log-in-col form button.ant-btn span{
      font-size: 17px;
      padding: 0 15px;
  }
.modal-main input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
}
.search-input{
    margin-bottom: 10px;
}
.anticon-like, .anticon-retweet, .tweet-date{
    color: #1890ff;
}
.ant-input{
    margin-left: 0;
}
.ant-col-7{
    height: 100vh;
    border-right: 1px solid #00000045; 
}
.user-page-icon{
    font-size: 50px;
}
.user-page{
    margin: 20px; 
    clear: both;
}
.user-page-author{
    font-size: 17px;
    font-weight: bold;
}
.add-tweet{
    margin-top: 20px;
}
.add-tweet-btn{
    margin-top: 20px;
    float: right;
}
hr {
    opacity: 0.3;
}