@import '~antd/dist/antd.css';
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 10s linear;
  height: 40px;
  float: left;
  margin-top: 5px;
  margin-left: 10px;
}

.App-header {
  background-color: #222;
  height: 90px;
  padding: 20px;
  color: white;
  width: 100%;
}
.App-feed{
  height: 1000px;
  padding-top: 20px;
}
.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
